@charset "ISO-8859-1";
body{
	background-color: silver;
	background: url(../Imagenes/fondo.png);
	background-repeat: no-repeat;
	background-position: 10% 15%;
	background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        padding-left: 5%;	
}

.form{	
	display: block;
	text-align: left;
	color: white;
	background-color:rgba(207,37,0,0.8);
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 2%;
	padding-right: 2px;
	border-radius: 5px;
	width:90%;
	margin:10px;
}
.formInsert{
	margin: 2rem auto;
	border: 2px solid green;
	padding: 2rem;
	
	
	input{
	display:block;
	}
	label {
	display:block;
	}
}


table th{
	text-align:left;
	padding: 4px 30px 4px 8px;
}

.divbuttons{
	align-content: right;
	text-align: right;
}
